# =============================================================================
# Database
# =============================================================================
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sakshion

# =============================================================================
# AI
# =============================================================================
OPENAI_API_KEY=your-opeai-API-key

# =============================================================================
# Authentication
# =============================================================================
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# =============================================================================
# Application
# =============================================================================
NODE_ENV=development